@import url("fonts.css");

html, body {
    font-family: Manrope, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0rem;
    background-color: #161616;
    color: white;
}

button {
    font-family: inherit;
    cursor: pointer;
}