name: Process Video

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 11 * * *'
  workflow_dispatch:
  push:
    branches:
        - main
    paths:
        - 'songs.json'
        - 'src/lib/songs.ts'
    

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    defaults:
      run:
        working-directory: ./videoProcessing
        
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: Download ffmpeg and wget
      run: sudo apt update && sudo apt install ffmpeg && sudo apt install wget
      
    - name: Install npm dependencies
      run: npm install
      
    - name: Allow running video processing script
      run: chmod +x ./getKeyframes.sh
    
    - name: download metadata from wget
      run: wget "https://api.animethemes.moe/video/?filter[id]=6898"
    
    - name: Run downloader and script
      run: node downloader.js ../songs.json
      
    - name: Process data and upload
      run : node process.js
      env: 
        SUPABASE_SERVICE_KEY: ${{ secrets.SUPABASE_SERVICE_KEY }}
        SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
        BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
